@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
*{
padding: 0;
margin: 0;
}
body{
    background-color: #e6ecff;
    position: relative;
    
}
header{
    background-color: white;
}
.img img{
margin-left :50rem;
margin-top: 5rem;
margin-bottom: 5rem;
}
hr{
    background-color: white;
    padding: 0rem;
    margin: 0rem;
}
.paragraph1 
{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
    position: relative;
 
    p{
        font-size: 1.5rem;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 7rem;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
    h1{
        font-size: 4rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        margin-top: 6rem;
      
        margin-left: 7rem;
}

img{
    margin-top: 0rem;
    padding-top: 0rem;
    margin-left: 5rem;
}
}
svg{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    position: inherit;
}
.paragraph2 {
    margin-top: 17rem;
    margin-bottom: 10rem;
    background-color: #e6f2ff;
    height: 132vh;
    button{
        margin-left: 10rem;
        background-color: 	#0080ff;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
        border-radius: 2rem;
        border-style: none;
        color: white;
        font-size: 1.6rem;
        box-shadow: 0.5rem 0.2rem 1rem 0.2rem;
    }
    .buttonCP{
        margin-top: -50rem;
    }
    svg{
        margin-top: -15rem;
    }
    h1{
        padding-top: 7rem;
        text-align: center;
        padding-bottom: 2rem;
    }
}
.cards{
    margin-left: 25rem;
    margin-bottom: 10rem;

.card{
    box-shadow: 20px 20px 40px 0px black;
    border-radius: 2rem;
}
}

.card-group {
    width: 100rem;
    margin-left:5rem;
    .card{
        margin-left: 10rem;
        background-color: transparent;
        border-style: none;
        img{
            margin-left: 0rem;
        }
    }
}
.tablesltr1{
    width: 40rem;
    height: auto;
    background-color: white;
    margin-left: 10rem;
    table{
        margin-left: -50rem;
        margin-top: 3rem;
        img{
            margin-left: 50rem;
            margin-bottom: 2rem;
        }
    }
    p{
        font-weight: 500;
        font-size: 20px;
        
    }
    .buttonCP1{
        margin-left: 1rem;
    }
}
.tablesltr2{
    width: 40rem;
    margin-top: 10rem;
    height: auto;
    background-color: white;
    margin-left: 70rem;
    table{
        margin-left: -50rem;
        img{
            margin-left: 50rem;
            margin-bottom: 2rem;
        }
    }
    p{
        font-weight: 500;
        font-size: 20px;
    }
    .buttonCP1{
        margin-left: 1rem;
    }
}
.tablesltr3{
    width: 40rem;
    height: auto;
    margin-top: 12  rem;
    background-color: white;
    margin-left: 10rem;
    table{
        margin-left: -50rem;
        img{
            margin-left: 50rem;
            margin-bottom: 2rem;
        }
    }
    p{
        font-weight: 500;
        font-size: 20px;
    }
    .buttonCP1{
        margin-left: 1rem;
    }
}
.tablesltr4{
    width: 40rem;
    height: auto;
    margin-top: 2rem;
    background-color: white;
    margin-left: 70rem;
    table{
        margin-left: -50rem;
        img{
            margin-left: 50rem;
            margin-bottom: 2rem;
        }
    }
    p{
        font-weight: 500;
        font-size: 20px;
    }
    .buttonCP1{
        margin-left: 1rem;
        background-color: #0080ff;
    }
}
.c2{
    height: 50rem;
    width: 97rem;
    margin: 10rem;  
    background-color: #F0F8FF;
    margin-top: -75rem;
    box-shadow: 1rem 1rem 5rem 1rem #D3D3D3;
    border-radius: 3rem;

    table tr th {
        img{
           margin-top: 2rem;
           margin-left: 2rem;
        }
    }
    table tr th h1{
    margin-top: -2.5rem;
    margin-left: 1rem;
    }
}


.container1{
    height: 25rem;
    width: 30rem;
    background-color: #F0F8FF;
  margin-left: 2rem;
    margin-top: 20rem;
    margin-bottom: 10rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem 1rem #D3D3D3;
    padding: 1rem;
    font-size: 1.2rem;
    display: inline-block;
}
.container1 p{
    font-size: 1.4rem;
    padding-top: 2rem;
}

.scrollingprofiles{
    margin-top:30rem;
    margin-left: -2rem;
    margin-right: 10rem;
    border: 2px black;
    height: 60rem;
    width: 100rem;
    

}

    .c2{
        height: 50rem;
        width: 110rem;
        margin-left: 5rem;
        background-color: #F0F8FF;
        z-index: -1;
        margin-top: -75rem;
        box-shadow: 1rem 1rem 10rem 0.2rem #D3D3D3;
        border-radius: 3rem;
    }
    .c2 table{
        margin-left: 2rem;
    }
    .carousel-inner{
        margin-left: 10rem;
        
    }
    .carousel-item{
        height: 10rem;
    }
  .final-step{
      height: 75vh;
     
      table tr th {
          padding-left: 10rem;
        
      }
      img{
          padding-bottom: -10rem;
      }
      h1{
          padding-left:8rem ;
          padding-top: -5rem;
      }
  }
  footer{
      height: 40vh;
      background-color: black;
      h2{
          padding-top: 16rem;
          padding-left: 50rem;
          color:white;
      }
  }