
		* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align:middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: absolute;
  margin: auto;
  padding-top: -100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 70px;
  padding: 8px 12px;
  position: absolute;
  top:50%;
  width: 100%;
  font-family: 'Arvo', serif;
font-family: 'Questrial', sans-serif;
  text-align: center;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
html
{
	scroll-behavior: smooth;
}
/*----TOP MENU--------------------------------*/
.menu{
	left: 0;
	bottom: 0;
	margin-top: 4.8%;
	height: 60px;
	width: 100%;
	background-color:#052d52;
}

.leftmenu{
	width: 30%;
	line-height: 70px;
	float: left;
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	font-family:  'Arvo', serif;
}
.rightmenu{
		 	width: 70%;
		 	height: 100px;
		 	float: right;
		 
}

.rightmenu ul
{
	margin-left: 0px;
}
.rightmenu ul li{
	font-family: 'Arvo', serif;
font-family: 'Questrial', sans-serif;
	 display: inline-block;
	 list-style: none;
	 font-size: 15px;
	 
	 color: white;
	
	 line-height: 70px;
	 margin-left: 20px;
	 text-transform: uppercase;
}

#firstlist{
	color: orange;
}
.rightmenu ul li:hover{

	color: orange;
}
.topimage{
	height: 101px;
}
.topimage img{
		padding-top: 5px;
		padding-left: 300px;

}
/* Top main means upper blue slide realted...*/
.top-main {
	background-color: #052d52;
	height: 48px;
	width: 100%;
	position: static;
}
.tele {
	float: left;
	margin-left: 100px;
	background-color: transparent;

}
.tele img{
	 height: 37px;
	 width: 20px; 
	 padding-top: 15px;
	
}
.tele p{
	margin-left: -95px;
	 color: white;
	 	padding-top: 15px;
	 font-family: 'Arvo', serif;
	text-decoration: none;
	font-size: 16px;
font-family: 'Questrial', sans-serif;

}

.tele p:hover{
	 color: orange;

}
.top-main table tr td{
	text-align: left;
}
.top-main button{
	 margin-left: 1150px;
	 background-color: orange;
	 font-size: 17px;
	 border:none;
	 float: top;
	 position: absolute;
	 transition-duration: 1s;
	 -webkit-transition-duration:1s;
}
.top-main button:hover{
		color: white;
		cursor: pointer;
		transition-duration: 1s;
		background-color: #052d52;
		border:1px solid orange;
}
/* -------3-mantras--------*/
.middle-slideshow{
	margin-top: 380px;
}
html{
		scroll-behavior: smooth;
	}
	#principal{
		 position: relative;
		height: 360px;
		width: 350px;
		left: 100px;
		margin-top: 250px;
		background-color: white;
		box-shadow: 1px 1px 1px 5px white;
		
	}
	#principal img{
		 position: relative;
		 padding-top: 30px;
		 padding-left: 17%;
		 height: 230px;
		 width: 270px;
	}
	#principal button{
		margin-left: 10%;
		margin-top: 10%;
		font-family: sans-serif;
		border:none;
		padding: 10px 50px;
		font-size: 20px;
		outline: none;
		border-radius: 5px;
		
		-webkit-transition-duration:1s;
		transition-duration: 1s;
	}
	#button1{
		background-color: yellow;
		color: #052d52;

	}
	#button1:hover{
		 background-color: #052d52;
		 color: yellow;
		 cursor: pointer;
	}
	#annoucement{
		 position: relative;
		height: 360px;
		width: 350px;
		left: 120px;
		margin-top: 250px;
		background-color: white;
		box-shadow: 1px 1px 1px 5px white;
	}
	#annoucement h3{
		color: #04014a;
		text-align: center;
		padding-top: 30px;
		font-size: 20px;
		letter-spacing: 1px;
		background-color: transparent;
	}
	#annoucement p{
		color: #002b8f;
		font-size: 12px;
		padding-left: 20px;
	}
	#annoucement p:hover{
		color: red;
	}
	/*--------------BLINK TEXT---------------*/
	  @keyframes blinking {
	  	0%   { color: red; }
	  	50%  { color: white; }
	  	100% { color: red; }
	  }
	  #blink{
	  	font-size: 15px;
	  	padding-left: -10px;
	  	animation : blinking 0.5s infinite;
	  }
	#events{
		 position: relative;
		height: 360px;
		width: 350px;
		left: 140px;
		margin-top: 250px;
		background-color: white;
		box-shadow: 1px 1px 1px 5px white;
	}
	#events p{
		color: #002b8f;
		font-size: 12px;
		padding-left: 20px;

	}
	#events p:hover{
		color: red;

	}
	#events h3{

		color: #04014a;
		text-align: center;
		padding-top: 30px;
		font-size: 20px;
		letter-spacing: 1px;
		
		background-color: transparent;
	}


/*----------MIDDLE PARAGRAPH-------AND IMAGE--------*/
.middle-paragraph{
		
		padding-top: 80px;
		height: 100px;
		width: 510px;
		padding-left: 10px;
		line-height: 20px;
}
.middle-paragraph h1{
	text-align: center;
	 color: black;
	 padding-bottom: 30px;
	 letter-spacing: 1px;
	 	font-family: 'Arvo', serif;
font-family: 'Questrial', sans-serif;
}
.middle-paragraph p{
	color:black;
	margin-left: 10px;
	line-height: 25px;
	padding-bottom: 20px;
		font-family: 'Arvo', serif;
font-family: 'Questrial', sans-serif;
font-size: 20px;
}

.half-image img{
	
	 width: 50%;
	 margin-left: 45%;
	 margin-top: 10px;
	 height: 450px;
	 margin-bottom: 20px;

}
/*-------------ONLINE PLATFORMS REALTED--------------*/
.secondimage{
			background-image: url("IMG/second.jpeg");
	        background-size: 100% 100%;
	        width: 100%;
	        height: 160vh;
	        background-attachment: fixed;
            }



.onlineplatformsforstudents p{

	color: 	 #e6e6e6;
	padding-top: 20px;
	font-family: 'Play', sans-serif;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}
.img1moodle img{
	 margin-top: 100px;
	 margin-left: 15%;
	 height: 150px;
	 width: 400px;
	
}
.img2moodle img{
	 margin-top: -176px;
	 margin-left: 50%;
	 height: 150px;
	 width: 400px;
	 }
/*---------FOOTER-----------------*/
		footer{
			
	background-color:  #003366;
	height:auto;
	width: 100%;
	padding-bottom: 20px;
}
.singlecol #icons img{
	margin-left: 20px;
	height: 30px;
	width: 25px;
}

.singlecol{
	color: white;
	margin-left: 40px;
	line-height: 35px;
	font-family: 'Prompt', sans-serif;
	margin-bottom: 0px;

}
.singlecol p{
	 margin-left: 60px;
	 margin-top: -30px;
}
.singlecol a{
	 color: white;
}
.singlecol a:hover{
	 color: yellow;
	 cursor: pointer;
}
.singlecol h3{
	font-family: 'Prompt', sans-serif;
	font-weight: 100;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
}
	
.doublecol{
	color: white;
	margin-left: 50%;
	line-height: 40px;
	margin-top: -220px;
	font-family: 'Prompt', sans-serif;
}
.doublecol ul{
	list-style-type: none;
	font-weight: 100;
}
.doublecol ul li h3{
	font-size: 20px;
	padding-top: -400px;
	 font-weight: 100;
}
.foot h4{
	padding-top: 10px;
	color: white;
	text-align: center;
		font-weight: 100;
	letter-spacing: 1px;
font-family: 'Prompt', sans-serif;
}
h4{
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
}

/*------there is an 3 mantras of code bag and desktop-------*/

	.courses{
		margin-top: 100px;
			padding: 50px;
			width: 100%;
			position: relative;
			height: 280px;
			background-color: white;
		}
		#c1{
			background-color: #081c54;
			height: 170px;
			width: 230px;
			margin-left: 200px;
			margin-right: 50px;
			border-radius: 5px;
			transition-duration: 1s;
		}
		#c1:hover{
			background-color: black;
		}
		#c2{
			background-color: #081c54;
			height: 170px;
			width: 230px;
			margin-right: 60px;
			border-radius: 5px;
			transition-duration: 1s;
		   }
		   #c2:hover{
			background-color: black;
		}
       #c3{
			background-color: #081c54;
			height: 170px;
			width: 230px;
			margin-right: 20px;
			border-radius: 5px;
			transition-duration: 1s;
		}
		#c3:hover{
			background-color: black;
		}
		 #c1 img{
		 		height: 100px;
		 		width: 150px;
		 	padding-top: 25px;
		 	padding-left: 70px;

		 }
		 #c2 img{
		 		height: 100px;
		 		width: 150px;
		 	padding-top: 25px;
		 	padding-left: 70px;
		 }
		 #c3 img{
		 		height: 100px;
		 		width: 150px;
		 	padding-top: 25px;
		 	padding-left: 70px;

		 }
		 #c1 p{
		 	padding-top: 10px;
		 	  text-align: center;
		 	  color: white;
		 	  font-family: 'Arvo', serif;
			text-decoration: none;
			font-family: 'Questrial', sans-serif;

		 }
		 #c2 p{
		 	padding-top: 10px;
		 	  text-align: center;
		 	  color: white;
		 	  font-family: 'Arvo', serif;
			text-decoration: none;
			font-family: 'Questrial', sans-serif;

		 }
		 #c3 p{
		 	padding-top: 10px;
		 	  text-align: center;
		 	  color: white;
		 	  font-family: 'Arvo', serif;
			text-decoration: none;
			font-family: 'Questrial', sans-serif;

		 }